In [3]:
import numpy as np
import pandas as pd
import datetime as dt

In [7]:
dates = input("Please enter dates in a list (as dd/mm/yyyy, without space):")

print(dates)

07/03/2024,08/03/2024

In [8]:
dates = dates.split(",")

In [12]:
dates[0].replace("/", "-")

'07-03-2024'

In [8]:

(dt.date.today() - dt.timedelta(days=1)).strftime("%d/%m/%Y")

'10/03/2024'

In [24]:
from bs4 import BeautifulSoup
import re

In [25]:
htm = '<tr><td><div><div style="width:20%; float:left;">&nbsp;</div><div style="width:60%; float:left; text-align:center;"><b>Department of Consumer Affairs&nbsp;( Price Monitoring Division)</b></div><table width="95%" align="center"><tbody><tr><td align="left"><font size="3"><b>Date&nbsp;&nbsp;10/03/2024 </b></font><b> </b></td><td width="100%" align="center"><font size="3" color="black"><center><strong>Daily Retail Prices Of Essential Commodities</strong></center></font></td><td align="right"><font size="4"> <b>Unit:&nbsp;(₹/Kg.)</b></font></td></tr></tbody></table></div></td></tr>'

In [26]:
soup = BeautifulSoup(htm,'lxml')

In [31]:
[re.sub(r'[^0-9a-zA-Z./()₹:]', '', t.text) for t in soup.find_all('b')]

['Department of Consumer Affairs( Price Monitoring Division)',
 'Date10/03/2024 ',
 ' ',
 'Unit:(₹/Kg.)']

In [ ]:
f'DCA_price_{date.replace("/", "-")}.csv'

In [5]:
pd.read_excel('dca_test.xlsx', sheet_name=0)#.iloc[54:76,1:].dropna(axis = 1)

,Unnamed: 0,2023-04-01 00:00:00,2023-04-02 00:00:00,2023-04-03 00:00:00,2023-04-04 00:00:00,2023-04-05 00:00:00,2023-04-06 00:00:00,2023-04-07 00:00:00,2023-04-08 00:00:00,2023-04-09 00:00:00,...,2024-10-14 00:00:00,2024-10-15 00:00:00,2024-10-16 00:00:00,2024-10-17 00:00:00,2024-10-18 00:00:00,2024-10-19 00:00:00,2024-10-20 00:00:00,2024-10-21 00:00:00,2024-10-22 00:00:00,2024-10-23 00:00:00
0,Rice,39.087912,38.726236,38.958231,39.039506,38.889412,38.664336,38.741538,38.434911,38.669118,...,43.57,43.38,43.43,43.39,43.28,43.02,43.27,43.62,43.59,43.60
1,Wheat,31.436137,30.917749,31.731214,31.687135,31.476190,31.093923,30.727599,30.631034,30.713080,...,31.24,31.27,31.10,31.45,31.35,31.48,31.69,31.44,31.36,31.54
2,Atta(wheat),36.579670,36.030534,36.851117,36.933333,36.705463,36.417840,36.036810,36.254438,35.852941,...,36.20,36.27,36.18,36.40,36.34,36.64,36.85,36.42,36.51,36.54
3,Gram Dal,72.827778,71.406130,73.506297,73.306533,73.560096,72.900000,72.151703,72.610778,71.592593,...,94.56,94.51,94.59,94.48,94.42,94.47,94.43,94.59,94.59,94.67
4,Tur/Arhar Dal,115.177778,114.847328,115.367089,115.622166,115.758454,115.050239,115.587692,115.651786,115.639706,...,163.02,163.06,163.07,162.84,162.73,162.48,161.94,162.81,162.49,162.26
5,Urad Dal,107.623596,106.293436,108.018041,107.891753,108.059406,107.304668,107.145570,107.196319,106.402256,...,125.07,124.98,124.77,124.80,124.53,124.75,124.20,124.96,124.80,124.84
6,Moong Dal,105.790055,104.774809,106.340852,106.497500,106.571770,105.905213,105.956923,106.508929,105.584559,...,116.05,116.03,116.10,115.97,115.92,116.20,115.25,116.08,116.04,116.16
7,Masoor Dal,93.082192,91.513308,93.457002,93.081081,93.472941,92.789720,92.423313,92.378698,91.702206,...,89.62,89.70,89.78,89.55,89.51,89.56,89.18,89.73,89.70,89.85
8,Ground Nut Oil,190.870229,191.015385,190.800000,190.014493,190.371930,189.054237,190.523013,190.631799,191.271429,...,193.38,193.78,193.52,194.01,193.30,192.46,192.54,194.04,193.20,194.31
9,Mustard Oil,164.467787,161.662791,165.892857,164.675127,164.133820,163.523923,162.771875,162.268072,161.176030,...,162.15,162.37,161.97,163.34,163.64,164.12,163.65,164.40,164.23,164.43
10,Vanaspati,133.965812,130.039216,134.780423,134.225464,134.397436,133.496222,131.864516,131.952978,129.917293,...,136.72,137.08,137.54,137.69,137.50,137.99,138.17,138.17,138.46,138.43
11,Soya Oil,145.736025,142.557940,147.857955,146.552707,146.547170,146.587013,144.775168,145.140523,142.036437,...,136.13,136.19,136.60,136.61,136.67,137.33,138.05,137.20,137.18,137.45
12,Sunflower Oil,162.752294,160.314894,162.624294,162.849162,162.735849,162.930667,162.561644,162.698675,161.151020,...,139.92,140.16,140.95,140.75,140.92,141.30,141.27,141.45,141.75,142.13
13,Palm Oil,114.576271,113.070755,115.504732,115.260586,115.573209,115.515432,115.081081,115.397004,113.852535,...,120.70,120.93,121.92,121.86,121.87,122.30,123.04,122.48,122.89,123.20
14,Potato,18.404959,17.249027,18.982412,19.124688,18.650718,18.807143,18.148607,18.033233,17.388060,...,37.08,37.19,37.38,37.21,37.13,36.80,36.02,37.21,37.20,37.18
15,Onion,22.325069,21.186770,23.246231,23.042394,23.081535,23.183771,21.962848,22.114804,20.962687,...,54.13,54.41,54.73,54.43,54.32,54.39,53.27,54.64,54.51,54.64
16,Tomato,22.936111,21.215686,24.119289,23.774436,23.830097,24.086957,22.272727,22.667683,21.120755,...,67.50,67.92,67.96,67.23,66.64,66.63,65.28,65.87,65.36,64.93
17,Sugar,41.570637,41.046693,41.889169,41.750623,41.848193,41.916067,41.441640,41.783133,41.176030,...,44.87,44.90,44.97,44.91,44.91,45.00,44.65,44.92,44.94,44.97
18,Gur,47.765537,46.375000,49.242188,48.879177,49.126866,48.628713,47.609524,47.951070,47.000000,...,55.45,55.52,55.60,55.34,55.43,55.58,54.74,55.32,55.30,55.47
19,Milk,56.480337,55.558594,57.005141,56.783715,56.683951,56.833333,56.006349,56.530488,55.973585,...,58.73,58.60,58.98,58.57,58.67,59.18,58.27,58.59,58.52,58.66
20,Tea,276.309859,278.300395,274.744792,278.519280,274.970075,276.977778,273.958333,278.070122,274.479245,...,269.21,268.71,270.09,269.01,269.78,267.60,263.90,270.12,270.35,270.40
21,Salt,21.639889,22.093385,21.845960,21.510000,21.823671,22.019185,22.082019,22.093373,22.082707,...,21.95,21.88,21.78,22.05,21.93,21.91,22.54,21.89,22.04,21.98

In [7]:
dt.datetime.today().strftime('%d-%m-%Y')

'27-10-2024'

In [30]:
dt_temp = pd.read_csv('data\DCA_price_26-10-2024.csv')
date_add = dt_temp.columns[0].split(" ")[1].replace("/","-")
vals = dt_temp['Average Price'].values

In [31]:
print(date_add, vals)

26-10-2024 [ 43.4   31.56  36.7   94.98 161.69 125.01 116.31  90.24  45.02  59.28
 194.   166.37 139.78 138.67 142.87 124.38  55.75 266.86  21.99  36.78
  54.63  63.44]

In [32]:
# Read Excel file
df = pd.read_excel('dca_test.xlsx')
df.head()

,Unnamed: 0,2023-04-01 00:00:00,2023-04-02 00:00:00,2023-04-03 00:00:00,2023-04-04 00:00:00,2023-04-05 00:00:00,2023-04-06 00:00:00,2023-04-07 00:00:00,2023-04-08 00:00:00,2023-04-09 00:00:00,...,2024-10-15 00:00:00,2024-10-16 00:00:00,2024-10-17 00:00:00,2024-10-18 00:00:00,2024-10-19 00:00:00,2024-10-20 00:00:00,2024-10-21 00:00:00,2024-10-22 00:00:00,2024-10-23 00:00:00,25-10-2024
0,Rice,39.087912,38.726236,38.958231,39.039506,38.889412,38.664336,38.741538,38.434911,38.669118,...,43.38,43.43,43.39,43.28,43.02,43.27,43.62,43.59,43.60,43.63
1,Wheat,31.436137,30.917749,31.731214,31.687135,31.476190,31.093923,30.727599,30.631034,30.713080,...,31.27,31.10,31.45,31.35,31.48,31.69,31.44,31.36,31.54,31.56
2,Atta(wheat),36.579670,36.030534,36.851117,36.933333,36.705463,36.417840,36.036810,36.254438,35.852941,...,36.27,36.18,36.40,36.34,36.64,36.85,36.42,36.51,36.54,36.57
3,Gram Dal,72.827778,71.406130,73.506297,73.306533,73.560096,72.900000,72.151703,72.610778,71.592593,...,94.51,94.59,94.48,94.42,94.47,94.43,94.59,94.59,94.67,94.87
4,Tur/Arhar Dal,115.177778,114.847328,115.367089,115.622166,115.758454,115.050239,115.587692,115.651786,115.639706,...,163.06,163.07,162.84,162.73,162.48,161.94,162.81,162.49,162.26,162.13

In [33]:
# Add new column
df[f'{date_add}'] = vals
df.head()

,Unnamed: 0,2023-04-01 00:00:00,2023-04-02 00:00:00,2023-04-03 00:00:00,2023-04-04 00:00:00,2023-04-05 00:00:00,2023-04-06 00:00:00,2023-04-07 00:00:00,2023-04-08 00:00:00,2023-04-09 00:00:00,...,2024-10-16 00:00:00,2024-10-17 00:00:00,2024-10-18 00:00:00,2024-10-19 00:00:00,2024-10-20 00:00:00,2024-10-21 00:00:00,2024-10-22 00:00:00,2024-10-23 00:00:00,25-10-2024,26-10-2024
0,Rice,39.087912,38.726236,38.958231,39.039506,38.889412,38.664336,38.741538,38.434911,38.669118,...,43.43,43.39,43.28,43.02,43.27,43.62,43.59,43.60,43.63,43.40
1,Wheat,31.436137,30.917749,31.731214,31.687135,31.476190,31.093923,30.727599,30.631034,30.713080,...,31.10,31.45,31.35,31.48,31.69,31.44,31.36,31.54,31.56,31.56
2,Atta(wheat),36.579670,36.030534,36.851117,36.933333,36.705463,36.417840,36.036810,36.254438,35.852941,...,36.18,36.40,36.34,36.64,36.85,36.42,36.51,36.54,36.57,36.70
3,Gram Dal,72.827778,71.406130,73.506297,73.306533,73.560096,72.900000,72.151703,72.610778,71.592593,...,94.59,94.48,94.42,94.47,94.43,94.59,94.59,94.67,94.87,94.98
4,Tur/Arhar Dal,115.177778,114.847328,115.367089,115.622166,115.758454,115.050239,115.587692,115.651786,115.639706,...,163.07,162.84,162.73,162.48,161.94,162.81,162.49,162.26,162.13,161.69

In [35]:
df.to_excel('dca_test.xlsx', index=False)

In [24]:
# Read Excel file
df = pd.read_excel('dca_test.xlsx')

# Add new column
df[f'{date_add}'] = vals

# Save updated file
df.to_excel('dca_test.xlsx', index=False)